option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: apis.map.settings_dev

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: apis/staticfiles/

container_commands:
  01_install_deps:
    command: "pip install -r apis/requirements.txt"
    ignoreErrors: false

  02_install_nvm:
    command: "curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.5/install.sh | bash"

  03_install_node:
    command: |
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      nvm install 16

  04_react_deps:
    command: |
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      nvm use 16
      ln -sf $NVM_DIR/versions/node/v16.20.2/bin/node /usr/bin/node
      ln -sf $NVM_DIR/versions/node/v16.20.2/bin/npm /usr/bin/npm
      cd admin/
      npm install
    ignoreErrors: false

  05_react_build:
    command: |
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      nvm use 16
      ln -sf $NVM_DIR/versions/node/v16.20.2/bin/node /usr/bin/node
      ln -sf $NVM_DIR/versions/node/v16.20.2/bin/npm /usr/bin/npm
      cd admin/ && npm run build
    ignoreErrors: false

  06_next_deps:
    command: |
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      nvm use 16
      ln -sf $NVM_DIR/versions/node/v16.20.2/bin/node /usr/bin/node
      ln -sf $NVM_DIR/versions/node/v16.20.2/bin/npm /usr/bin/npm
      cd web/ && npm install
    ignoreErrors: false

  07_next_build:
    command: |
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      nvm use 16
      ln -sf $NVM_DIR/versions/node/v16.20.2/bin/node /usr/bin/node
      ln -sf $NVM_DIR/versions/node/v16.20.2/bin/npm /usr/bin/npm
      cd web/ && npm run build
    ignoreErrors: false

  08_collectstatic:
    command: "source $PYTHONPATH/activate && cd apis && python manage.py collectstatic --noinput"
    ignoreErrors: false

packages:
  yum:
    nginx: []

files:
  "/etc/nginx/conf.d/custom-proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        
        location / {
          proxy_pass  http://localhost:8000;  
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
        
        location /admin/ {
          alias /var/app/current/admin/build/;
        }
        
        location /web/ {
          alias /var/app/current/web/out/;
        }
        
        location /static/ {
          alias /var/app/current/apis/staticfiles/;
        }
      }

commands:
  start_nginx:
    command: "service nginx start"
