option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: apis.map.settings_dev

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: apis/staticfiles/

container_commands:
  00_install_deps:
    command: "pip install -r apis/requirements.txt"
    ignoreErrors: false

  01_install_node:
    command: "curl -sL https://rpm.nodesource.com/setup_14.x | sudo bash - && sudo yum install -y nodejs"
    ignoreErrors: false

  02_react_deps:
    command: "cd admin/ && npm install"
    ignoreErrors: false

  03_react_build:
    command: "cd admin/ && npm run build"
    ignoreErrors: false

  04_next_deps:
    command: "cd web/ && npm install"
    ignoreErrors: false

  05_next_build:
    command: "cd web/ && npm run build"
    ignoreErrors: false

  06_collectstatic:
    command: "source $PYTHONPATH/activate && cd apis && python manage.py collectstatic --noinput"
    ignoreErrors: false

packages:
  yum:
    nginx: []

files:
  "/etc/nginx/conf.d/custom-proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        
        location / {
          proxy_pass  http://localhost:8000;  
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
        
        location /admin/ {
          alias /var/app/current/admin/build/;
        }
        
        location /web/ {
          alias /var/app/current/web/out/;
        }
        
        location /static/ {
          alias /var/app/current/apis/staticfiles/;
        }
      }

commands:
  start_nginx:
    command: "service nginx start"
