<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform startupTimeLimit="10" startupRetryCount="10" stdoutLogEnabled="true" processPath="C:\Python39\python.exe" arguments="manage.py runserver">
            <environmentVariables>
                // <environmentVariable name="foo" value="bar"/>
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
